{% extends 'base.html.twig' %}

{% block title %}Proposal{% endblock %}

{% block body %}
    <div class="container my-5 mt-3 mt-md-5 show px-0 px-sm-3">
        <div class="row align-items-center pt-3 pt-md-5">
            <div class="col-12 col-md-auto mr-auto">
                <div class="">
                    <a href="{{ path('home') }}">Retour à la liste</a>
                </div>
            </div>

            {% if app.user and proposal.author.id == app.user.id %}
                <div class="text-right text-sm-left mt-3 col-6 mt-sm-0 col-sm-auto">
                    <a class="btn btn-info" href="{{ path('proposal_edit', {'id': proposal.id}) }}">Modifier</a>
                </div>
                <div class="text-left text-sm-left mt-3 col-6 mt-sm-0 col-sm-auto">
                    {{ include('proposal/_delete_form.html.twig') }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col text-center">
                <h1 class="headline">{{ proposal.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0 px-sm-3">
                <h4 class="subline">
                    Économie
                </h4>
            </div>
            <div class="col-12 wysiwyg-display">
                <p>
                    {{ proposal.economic|raw }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0 px-sm-3">
                <h4 class="subline">
                    Droit
                </h4>
            </div>
            <div class="col-12 wysiwyg-display">
                <p>
                    {{ proposal.juridic|raw }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0 px-sm-3">
                <h4 class="subline">
                    Environnement
                </h4>
            </div>
            <div class="col-12 wysiwyg-display">
                <p>
                    {{ proposal.environmental|raw }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0 px-sm-3">
                <h4 class="subline">
                    Éducation
                </h4>
            </div>
            <div class="col-12 wysiwyg-display">
                <p>
                    {{ proposal.education|raw }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0 px-sm-3">
                <h4 class="subline">
                    Culture
                </h4>
            </div>
            <div class="col-12 wysiwyg-display">
                <p>
                    {{ proposal.cultural|raw }}
                </p>
            </div>
        </div>
        <div class="row  justify-content-center">
            {% if app.user%}
                <div class="col-12 col-md-3 text-center">
                    <a href="{{ path('proposal_like', { id: proposal.id }) }}" class=" mt-3 btn action-button">Accord</a>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <a href="{{ path('proposal_dislike', { id: proposal.id }) }}" class=" mt-3 btn action-button">Désaccord</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
