{% extends 'base.html.twig' %}

{% block title %}Proposal{% endblock %}

{% block body %}
    <div class="container my-5 show">
        <div class="row align-items-center pt-5">
            <div class="col">
                <div class="">
                    <a href="{{ path('home') }}">Retour à la liste</a>
                </div>
            </div>

            {% if app.user and proposal.author.id == app.user.id %}
                <div class="col-auto">
                    <a class="btn btn-info" href="{{ path('proposal_edit', {'id': proposal.id}) }}">Modifier</a>
                </div>
                <div class="col-auto">
                    {{ include('proposal/_delete_form.html.twig') }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col text-center">
                <h1>{{ proposal.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>
                    Economie
                </h4>
            </div>
            <div class="col-12 wysiwyg-display">
                <p>
                    {{ proposal.economic|raw }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>
                    Jurice
                </h4>
            </div>
            <div class="col-12 wysiwyg-display">
                <p>
                    {{ proposal.juridic|raw }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>
                    Environment
                </h4>
            </div>
            <div class="col-12 wysiwyg-display">
                <p>
                    {{ proposal.environmental|raw }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>
                    Education
                </h4>
            </div>
            <div class="col-12 wysiwyg-display">
                <p>
                    {{ proposal.education|raw }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>
                    Culture
                </h4>
            </div>
            <div class="col-12 wysiwyg-display">
                <p>
                    {{ proposal.cultural|raw }}
                </p>
            </div>
        </div>
        <div class="row  justify-content-center">
            {% if app.user%}
                <div class="col-3 text-center">
                    <a href="{{ path('proposal_like', { id: proposal.id }) }}" class=" mt-3 btn action-button">Accord</a>
                </div>
                <div class="col-3 text-center">
                    <a href="{{ path('proposal_dislike', { id: proposal.id }) }}" class=" mt-3 btn action-button">Désaccord</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
